.main {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.25fr 2fr;
  grid-template-areas:
    "header header header"
    "subheader subheader subheader"
    "content content content";
  min-height: 100vh;
  /* margin: 1.5rem; */
  /* padding: 1.5rem; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

.subheader {
  grid-area: subheader;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  /* background-color: red; */
  height: 500px;
  grid-area: content;
}

.history {
  /* background-color: yellow; */
  grid-area: history;
}

.footer {
  background-color: green;
  grid-area: footer;
}

.itemContainer {
  padding: 18px;
  border-radius: 12px;
  max-height: 250px;
  min-height: 105px;
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 30% 10%;
    grid-template-areas:
      "header"
      "subheader"
      "content";
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
