.main {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.50fr 0.25fr 2fr;
  grid-template-areas: 
    "header header header"
    "top top top"
    "content content history";
  min-height: 100vh;
  margin: 1.5rem;
  padding: 1.5rem;
}

.top{
  grid-area: top;
  height: 200px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: blueviolet; */
  grid-area: header;
}

.sidebar{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  grid-area: sidebar;
}

.content{
  /* background-color: red; */
  grid-area: content;
}

.history{
  /* background-color: yellow; */
  grid-area: history;
}

.footer{
  background-color: green;
  grid-area: footer;
}

/* Mobile */
@media (max-width: 768px) {
  .main{
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 30% 10%;
    grid-template-areas: 
    "header"
    "sidebar"
    "content"
    "history"
    "footer";
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
